//color palette
//
$auburn: #9c201d;
$mountbatten: #967578;
/*-----------------------------------------*/

//fonts
$main-font: "Baloo Chettan 2", cursive;
$details-font: "Poppins", sans-serif;

/*-----------------------------------------*/

.topAnime {
  margin-top: 10rem;
  margin-left: 1rem;
  text-indent: 0.5em;
  height: 100vh;
  font-family: $main-font;
  font-size: 1.5em;
  font-weight: bolder;
  color: $auburn;

  @media (max-width: 860px) {
    margin-bottom: 15rem;
    margin-left: 5px;
  }

  &__text {
    color: $mountbatten;
    font-family: $details-font;
    font-size: 0.4em;
    word-break: break-all;
    @media (max-width: 860px) {
      font-size: 10px;
    }
  }

  &__img {
    margin-left: 1rem;
    width: 13rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgb(0 0 0 / 0.2);
    &:hover {
      opacity: 0.5;
    }

    @media (max-width: 860px) {
      width: 10rem;
    }
  }
}
