//color palette
$rose: #77575b;
$rosy: #dc9e95;
$auburn: #9c201d;
/* $brown: #fad1ca9; */
$misty: #ffe7e7;
$mountbatten: #967578;
$night: #141313;
$rusty: #cc3d4b;
$cinereous: #fad1ca9f;

//fonts
$main-font: "Baloo Chettan 2", cursive;
$details-font: "Poppins", sans-serif;

/*-----------------------------------------*/

/*footer*/
footer {
  width: 100vw;
  background-color: $mountbatten;

  h2 {
    color: $rusty;
  }

  li {
    color: $misty;
  }

  span {
    color: $misty;
  }
}
