//color palette
//
$rose: #77575b;
$rosy: #dc9e95;
$auburn: #9c201d;
/* $brown: #fad1ca9; */
$misty: #ffe7e7;
$mountbatten: #967578;
$night: #141313;
$rusty: #cc3d4b;
$cinereous: #fad1ca9f;

/*-----------------------------------------*/

//fonts
$main-font: "Baloo Chettan 2", cursive;
$details-font: "Poppins", sans-serif;

/*-----------------------------------------*/

/*header*/
.header {
  width: 100vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $mountbatten;

  @media (min-width: 860px) {
    display: flex;
    flex-direction: row;
  }

  /*title*/
  &__title {
    font-family: $details-font;
    width: 30rem;
    font-weight: 900;
    padding: 3rem;
    margin-top: 15rem;
    font-size: 2.3em;
    vertical-align: middle;
    line-height: normal;
    letter-spacing: 0.1em;
    color: $misty;

    @media (max-width: 860px) {
      margin-top: 1rem;
      margin-bottom: 5rem;
      font-size: 20px;
      text-align: center;
      padding: 2rem;
      width: 25rem;
    }
  }
  /*span*/

  /*button*/
  &__button {
    margin-top: 2rem;
    padding: 1.1rem 3.5rem;
    border-radius: 15px;
    background-color: $auburn;
    font-size: 20px;
    font-weight: bolder;
    color: $misty;
    /* box-shadow: 0 0 50px $btn-shadow-color; */
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: $rosy;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      opacity: 1;
    }
    @media (max-width: 860px) {
      padding: 0.5rem 2rem;
      margin-left: 0.5rem;
    }
  }

  /*image*/
  &__img {
    margin-top: 2rem;
  }
}
